
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    max-width: 750px;
    width: 100vw;
    margin: 0 auto;
    color: #555;
    font-size: 12px;
    font-family: "微软雅黑", Verdana, Helvetica, Arial, sans-serif;
}

td,
th,
caption {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    /*text-decoration:underline;*/
    text-decoration: none;
}

img {
    border: none;
    max-width: 100%;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font-family: "微软雅黑", Verdana, Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
}

table {
    border-collapse: collapse;
}

html {
    overflow-y: scroll;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.none {
    display: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.over {
    overflow: hidden;
}


#menu{
    position: fixed;
    width: 8px;
    right: 3vw;
    height: 100vh;
    top: 50%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50vh;
}
#menu li{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 5px 0;
    background: rgba(130, 120, 181, 0.7);
    box-sizing: border-box;
    display: block;
}
#menu li.active{
    background: initial;
    border: 2px solid #b9b0e9;
}
#section1{
    background: url('../img/1/1.png');
    background-size: 100% 100%;
}
.img{
    position: absolute;
}
.img1{
    width: 18.75vw;
    top: 8vw;
    left: 8vw;
}
.img2{
    width: 18.75vw;
    right: 8vw;
    bottom: 10vw;
}
.img3{
    width: 81.25vw;
    top: 18.75vw;
    left: 50%;
    margin-left: -40.625vw;
}

.s1_h1{
    position: absolute;
    top: 26.5vw;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 4.5vw;
    z-index: 5;
}

.img4{
    width: 62.5vw;
    top: 34vw;
    left: 50%;
    margin-left:-31.25vw;
}

.img5{
    width: 20vw;
    top: 67vw;
    left: 18vw;
}


.img6{
    width: 86vw;
    top: 42.8vw;
    left: 50%;
    margin-left: -43vw;
    z-index: 10;
}
.img7{
    width:57vw;
    margin-left: -28.5vw;
    left: 50%;
    top:120vw;
}
.img8{
    width: 36vw;
    margin-left: -18vw;
    top: 130vw;
    left: 50%;
}


#section2,#section9{
    background: url('../img/2/1.png');
    background-size: 100% 100%;
    text-align: center;
}

.s2_h1{
    position: absolute;
    top: 12.5vw;
    width: 100%;
    text-align: center;
    color: #ff96c1;
    font-size: 8vw;
    z-index: 5;
}
.img9{
    width: 47vw;
    top: 24vw;
    left: 50%;
    margin-left: -23.5vw;
}
.img10{
    width: 17vw;
    top: 35vw;
    right: 8vw;
    z-index: 10;
}
.img11{
    width: 90vw;
    top: 33vw;
    left: 50%;
    margin-left: -45vw;
    /* z-index: 5; */
}
.img12{
    width: 17vw;
    top: 42vw;
    left: 6.25vw;
    z-index: 10;
}
.img13{
    width: 19vw;
    left: 10vw;
    bottom: 12vw;
}

.img14{
    width: 38vw;
    right: 0;
    bottom: 8vw;
    z-index: 10;
}

.img15{
    width: 67vw;
    max-height: 65vw;
    transform: rotate(9.7deg);
    -webkit-transform: rotate(9.7deg);
    -moz-transform: rotate(9.7deg);
    -ms-transform: rotate(9.7deg);
    -o-transform: rotate(9.7deg);
    top: 45vw;
    left: 17.5vw;
    z-index: 5;
}

#section3{
    background: url('../img/3/1.png');
    background-size: cover;
}

.s3_h1{
    top: 19vw;
    text-align: center;
    font-size: 7vw;
    color: #fff;
    position: absolute;
    width: 100%;
}

.s3_div{
    position: absolute;
    top: 37vw;
    left: 50%;
    width: 70vw;
    margin-left: -35vw;
    height: 103vw;

    background: url('../img/3/2.png') center center;
    background-size: cover;
}

.s3_s1{
    position: absolute;
    color: #806ab3;
    font-size: 4vw;
    top: 5vw;
    left: 19vw;
}
.s3_s2{
    position: absolute;
    color: #806ab3;
    font-size: 4vw;
    bottom: 12vw;
    right: 7vw;
}

.s3_s3{
    position: absolute;
    color: #806ab3 !important;
    font-size: 4vw !important;
    text-align: center;
    line-height: 6vw;
    width: 50vw;
    top: 20vw;
    left: 50%;
    margin-left: -25vw;
}

#section4{
    background: url('../img/4/1.png');
    background-size: cover;
}
.img16{
    width: 18.75vw;
    top: 8vw;
    right: 8vw;
}

.s4_h1{
    color: #fff;
    position: absolute;
    left: 10vw;
    font-size: 4.5vw;
    top: 8vw;
}
.img17{
    left: 10vw;
    top: 16vw;
    width: 48vw;
}
.s4_p{
    color: #fff;
    position: absolute;
    left: 10vw;
    font-size: 3vw;
    top: 26vw;
}
.img18{
    left: 10vw;
    top: 37vw;
    width: 10vw;
}
.img19{
    width: 18.75vw;
    bottom: 8vw;
    left: 10vw;
}

.Tong_t1{
    position: absolute;
    box-sizing: border-box;
    padding: 3vw;
    background: #fff;
    
}
.Tong_t1 img{
    width: 100%;
    display: block;
}
.Tong_t1 p{
    text-align: right;
    color: #877bb9;
    font-size: 4vw;
    margin-top: 1vw;
}
.s4_t1{
    width: 45vw;
    min-height: 50vw;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    top: 40vw;
    right: 3vw;
    z-index: 3;
}
.s4_t2{
    width: 60vw;
    min-height: 68vw;
    transform: rotate(10deg);
    top: 70vw;
    left: 3vw;
    z-index: 8;
    box-shadow: 2px 2px 10px #e9c0ce;
}
.s4_t3{
    width: 55vw;
    min-height: 60vw;
    transform: rotate(25deg);
    top: 99vw;
    right: -9vw;
    z-index: 4;
    box-shadow: -2px 2px 10px #e9c0ce;
}
#section5{
    background-color: #fff9fd;
}
.section5{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/5/1.png');
    background-position: 50% 100%;
    background-size: 140% 130%;
}
.s5_t1{
    width: 45vw;
    min-height: 50vw;
    left: -14vw;
    top: 30vw;
    z-index: 3;
    box-shadow: 2px 2px 15px #e9c0ce;
}
.s5_t2{
    width: 45vw;
    min-height: 50vw;
    right: -14vw;
    top: 22vw;
    z-index: 3;
    box-shadow: -2px 2px 15px #e9c0ce;
}
.s5_t3{
    width: 68vw;
    min-height: 50vw;
    left: 50%;
    margin-left: -34vw;
    top: 60vw;
    z-index: 3;
    box-shadow: 0 2px 15px #e9c0ce;
}
.s5_t3 p{
    text-align: left;
}
.s5_t3 p span{
    font-size: 5vw;
    margin-top: 4vw;
}

.s5_h1{
    font-size: 5vw;
    color: #877bb9;
    line-height: 8vw;
    position: absolute;
    left: 19vw;
    bottom: 17vw;
}
.img20{
    width: 42vw;
    right: 0;
    bottom: 36vw;
    z-index: 10;
}
.img21{
    width: 22vw;
    right: 10vw;
    bottom: 15vw;
}

#section6{
    background: url('../img/6/1.png');
    background-size: cover;
}

.img22{
    width: 100%;
    bottom: 0;
    left: 0;
}
.img23{
    width: 40vw;
    top: 3vw;
    right: 0;
}
.s6_h1{
    position: absolute;
    top: 14vw;
    left: 15vw;
    color: #8457b4;
    font-size: 6vw;
    line-height: 10vw;
}
.s6_t1{
    position: absolute;
    width: 80vw;
    height: 80vw;
    padding: 2vw;
    border-radius: 50%;
    top: 50vw;
    left: 50%;
    margin-left: -42vw;
    background: url('../img/6/5.png');
    background-size: cover;
}
.s6_t1 .t1{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.s6_t1 img{
    height: 100%;
    width: 100%;
    display: block;
}
.img24{
    width: 31vw;
    bottom: 26vw;
    left: 10vw;
}

.img25{
    width: 17vw;
    bottom: 27vw;
    left: 35vw;
}
#section7{
    background: url('../img/7/1.png');
    background-size: cover;
}

.s7_t1{
    width: 80vw;
    height: 100vw;
    right:-38vw;
    bottom: -12vw;
    transform: rotate(-15deg);
}

.s7_t2{
    position: absolute;
    bottom: 18vw;
    width: 100%;
    background: rgba(174, 144, 214, 0.7);
    height: 26vw;
    text-align: center;
}
.s7_t2 p{
    font-size: 6vw;
    padding-top: 5vw;
    color: #fff;
}
.s7_t2 img{
    width: 40vw;
    margin-top: 2vw;
}

.img26{
    width: 40vw;
    bottom: 10vw;
    right: -11vw;
}
#section8{
    background: url('../img/8/1.png');
    background-size: cover;
}

.img27{
    width: 18vw;
    right: 8vw;
    top: 15vw;
}

.s8_t1{
    width: 80vw;
    left: 50%;
    margin-left: -40vw;
    top: 37vw;
}

.s8_t1 p{
    text-align: left;
    margin-top: 3vw;
}
.img28{
    width: 80vw;
    bottom: 0;
    right: -33vw;
    z-index: 5;
}

#section10{
    background: url('../img/10/1.png');
    background-size: 100% 100%;
}
.img29{
    width: 33vw;
    left: 50%;
    margin-left: -15.5vw;
    top: 38vw;
}

.img30{
    width: 19vw;
    left: 10vw;
    top: 12vw;
}

.img31{
    width: 19vw;
    right: 10vw;
    bottom: 12vw;
}

.img32{
    width: 50vw;
    left: 50%;
    margin-left: -25vw;
    bottom: 25vw;
}

.img33{
    width: 65vw;
    left: 12vw;
    top: 102vw;
    z-index: 7;
}

.img34{
    width: 63vw;
    left: 12vw;
    top: 107vw;
    z-index: 7;
}

.music{
    position: fixed;
    right:4vw;
    top: 4vw;
    z-index: 100;
}
.music img{
    width: 9.5vw;
    height: 9.5vw;
}

.xuanzhuan{
    animation: xuanzhuan 4s linear infinite;
}



@keyframes xuanzhuan{
    form{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}



.s3_s3 textarea{
    width: 100%;
    height: 100%;
    display: block;
    background: transparent;
    border: none;
    text-align: center;
    color: #806ab3 !important;
    font-size: 4vw !important;
    outline: none;
    line-height: 6vw;
}

.Tong_t1 input{
    display: block;
    width: 100%;border: none;
    outline: none;
    background: transparent;
    text-align: right;
    color: #877bb9;
    font-size: 4vw;
    margin-top: 1vw;
}
#section4{
    overflow: hidden;
    width: 100%;
}